.header {
  height: 50px;
  background-color: var(--mantine-color-gray-2);
  width: 100%;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.leftColumn {
  flex-grow: 1;
  background-color: var(--mantine-color-blue-1);
  padding: var(--mantine-spacing-md);
}

.rightColumn {
  width: 140px;
  background-color: var(--mantine-color-green-1);
  padding: var(--mantine-spacing-md);
}