.centeredContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  flex: 1;
  background-color: var(--mantine-color-orange-2);
}

.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pageTitle {
  margin: 20px 0;
  text-align: center;
  background-color: var(--mantine-color-yellow-2);
}